table {
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

#naslov {
    color: blueviolet;
    text-align: center
}

td.kocka {
    width: 20px;
    height: 20px;
}

td.lik-rdeci {
    background-color: #AA0000;
}

td.lik-vijolicni {
    background-color: purple;
}

td.lik-modri {
    background-color: blue;
}

td.lik-zlati {
    background-color: gold;
}
